 #app .home_brand {
     width: 322px;
     height: 136px;
     background: #F0F0F0;
     h2 {
         width: 322px;
         height: 34px;
         font-size: 14px;
         line-height: 34px;
         color: #474747;
         text-align: left;
         span {
             font-size: 16px;
             color: #934D91;
             padding-left: 6px;
             padding-right: 2px;
         }
     }
     .brand {
         height: 90px;
         overflow: hidden;
         .brandlogo {
             width: 322px;
             height: 90px;
             display: -webkit-box;
             overflow-x: scroll;
             overflow-y: hidden;
              :nth-child(4) p {
                 text-align: left;
                 font-size: 12px;
             }
             li {
                 width: 90px;
                 height: 90px;
                 margin-left: 7px;
                 img {
                     display: block;
                     width: 90px;
                     height: 65px;
                 }
                 p {
                     width: 90px;
                     height: 25px;
                     font-size: 10px;
                     color: #474747;
                     text-align: center;
                 }
             }
         }
     }
 }
 
 .home_brand .brandlogo::-webkit-scrollbar {
     display: none;
 }