.mint-header {
    background: #934D91;
    // position:fixed;
    // top:0px;
}

.list {
    height: 100%;
    .list_l {
        .active {
            background: #fff;
            color: #934D91;
        }
    }
}

.listcategory {
    display: flex;
    height: 100%;
    .list_l {
        width: 0px;
        height: 500px;
        background: #F0F0F0;
        // position:fixed;
        // top:20px;
        // border:1px solid #ccc;
        li {
            height: 35px;
            width: 83px;
            padding-top: 10px;
            padding-right: 10px;
            text-align: right;
            color: #474747;
            font-weight: 900;
        }
    }
    .list_r {
        position:relative;
        left:83px;
        width: 239px;
        min-height: 640px;
        height: 100%;
        background: #fff;
        h2 {
            i {
                color: #FCB85A;
            }
        }
    }
}