
.search-list{
    height:100%;
    .mint-search{
         height: 8vh;

  .mint-searchbar{
        background-color:#944D91;

        .mint-searchbar-inner{
            border-radius:16px;
            background-color:#C9A6C8;
            
            input::-webkit-input-placeholder{
                color:#fff;
            }
            .mint-searchbar-core{
                padding-left:8px;
                background-color:#C9A6C8;
                color:#fff;
            }
        }
        
        .mint-searchbar-cancel{
            display:block !important;
            color:#fff;
        }

        .mint-search-list{
           display:block !important;
         }
       }
   }

    .list{
      width: 100%;
      display:flex;
      flex-wrap:wrap;
      background: #F0F0F0;
            li:nth-child(2n+1){
                        margin-right:5px;
                      }
        li{
          width: 151px;
         
          
              img{
                width: 151px;
                height: 158px;
              }

              P:nth-of-type(1){
                width: 151px;
                height:18px;
                overflow:hidden;
                font-size:14px;
                color:#686868;

              }

              P:nth-of-type(2){
                font-size:14px;
                color:#EE805D;
                font-weight:900;
                line-height:26px;
                    span{
                       font-size:10px;
                       color:#C5C5C5;
                    }
              }
        }
    }
  
 
 }
