.search-list {
  height: 100%;
  .mint-search {
    height: 44px;

    .mint-searchbar {
      background-color: #944d91;

      .mint-searchbar-inner {
        border-radius: 16px;
        background-color: #c9a6c8;

        input::-webkit-input-placeholder {
          color: #fff;
        }
        .mint-searchbar-core {
          padding-left: 8px;
          background-color: #c9a6c8;
          color: #fff;
        }
      }

      .mint-searchbar-cancel {
        display: block !important;
        color: #fff;
      }

      .mint-search-list {
        display: block !important;
      }
    }
  }

  .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #f0f0f0;
    margin-bottom: 45px;
    li:nth-child(2n + 1) {
      margin-right: 5px;
    }
    li {
      // width: 151px;
      width: 49%;

      img {
        // width: 151px;
        // height: 158px;
        width: 100%;
        height: 80%;
      }

      p:nth-of-type(1) {
        // width: 151px;
        width: 100%;
        height: 18px;
        overflow: hidden;
        font-size: 14px;
        color: #686868;
      }

      p:nth-of-type(2) {
        font-size: 14px;
        color: #ee805d;
        font-weight: 900;
        line-height: 26px;
        span {
          font-size: 10px;
          color: #c5c5c5;
        }
      }
    }
  }
}
